:root {
  font-size: 16px;

  --theme-color--bg: #fff;
  --theme-color--text: #000;
}

body {
  font-size: 1rem;
  color: var(--theme-color--text);
  background-color: var(--theme-color--bg);
  line-height: 1.8;
}
